.headerHeading{
    font-size: 3rem;
}

.ourRoomHeading{
    margin: 50px 0 0 0;
    font-size: 9vh;
    font-weight: bold;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cardImg:hover{
   box-shadow: 0px 1px 1px 1px;
};

.staffImg{
    box-shadow: 0px 1px 1px 1px;
    height:450px;
}

.formClass{
    background-color: #EBEBEB;
}

.formDisplay{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.formInput_Width{
  width: 70%;
}

.footer_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
li{
  padding:10px 0px 10px 0px;
}

.footer_coroprateSite{
    margin-left: 10px;
}
